@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f0f0;
}

.page-wrapper {
  @apply px-16 flex
   flex-col
    max-h-screen
    pt-5
    pb-20;
}

.top-section-wrapper {
  @apply flex 
      flex-col
      align-top;
}

.large-heading {
  display: block;
  font-size: 225px;
  letter-spacing: -8%;
  @apply font-extrabold
  whitespace-nowrap
  -mt-20;
}

.items-wrapper {
  @apply flex
  justify-between
  -my-14;
}

.small-heading {
  font-size: 20px;
  @apply self-center;
}

.buttons-wrapper {
  @apply flex
    gap-5;
}

.button {
  @apply border
    border-black
    px-3
    py-2
    rounded-full
    text-sm
    font-medium;
}

.switch-theme-btn {
  @apply flex
        gap-3
        align-middle
        cursor-pointer;
}
.switch-theme-btn h2 {
  @apply flex
        -mt-0.5;
}

.cards-container {
  @apply grid 
      grid-cols-4
      gap-3
      mt-24;
}

.card {
  border-color: #a8a8a8;
  height: 250px;
  @apply border 
      py-10
      px-5
      flex
      flex-col
      gap-5
      rounded-xl;
}

.card-excerpt {
  color: #313131;
  @apply font-medium
      text-sm;
}

.card-name {
  @apply font-bold;
}

/* add submission page */

.add-submission-title {
  @apply self-center
      mt-10
      text-4xl
      font-bold;
}

.submission-form-wrapper {
  height: 450px;
  @apply mt-10 
     self-center border
     w-1/2
     p-5
     rounded-3xl
     border-black;
}
.submission-form-container {
  @apply flex
      justify-between;
}
.other-form {
  @apply self-center
       flex
       flex-col
       justify-start;
}
.submission-textarea {
  @apply w-full 
      h-80
      p-4
      bg-transparent
      focus:outline-none
      text-lg
      resize-none;
}
.checkbox-container {
  gap: 5px;
  @apply flex
      align-middle
      mt-1;
}
.checkbox {
  @apply accent-black
      text-white
      checked:bg-black
      checked:text-white;
}
.username-input {
  @apply p-2
      border-b
      border-black
      bg-transparent
      active:outline-none
      focus:outline-none
      pl-0
      active:border-none;
}


.button-primary {
  font-size: 20px;
  @apply 
  px-6
  py-3
  h-fit
  self-center
  bg-black
  text-white
  rounded-full
  text-sm
  font-medium;
}

.close-btn {
  font-size: 20px;
  @apply flex
    gap-4
    self-center
    mt-4
    justify-center
    align-middle
    font-bold
    text-lg;
}
